@{
     ViewBag.Title = "PageNotFound";
}

<div>
    <center>
        <p style="font-size:8em;margin:0 0 0 10px;">404</p>
        <p style="font-size:6em;margin-top:10px;">Page not found !</p>
        <h3>@Html.ActionLink("Go to Dashboard", "Index", "Home")</h3>
    </center>
</div>
